<div id="card">
  <h2 id="term">
    <%= @card.term %>
  </h2>
  <h4 id="meaning">
    <%= @card.meaning %>
  </h4>
</div>
 <a data-role="button" data-inline="true" data-theme="a" href="/" data-icon="check" data-iconpos="left">Done</a>
 <a data-role="button" data-inline="true" data-theme="a" href="/" data-icon="arrow-r" data-iconpos="right">Next</a>

