<div id="card">
  <h2 id="term">
    <%= @card.term %>
  </h2>
  <h4 id="meaning">
    <%= @card.meaning %>
  </h4>
<%= form_for @card do |f| %>
  <%= f.hidden_field :done, :value => true %>
<% end %>
</div>

